* {
    padding: 0px;
    margin: 0px;
    border: none;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

button {
    width: 150px;
    height: 40px;
    background-color: #025;
    color: #fff;
    cursor: pointer;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
}

.caixa {
    align-items: center;
    justify-content: center;
    border: 4px solid #000;
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin: 5px;
    height: 500px;
    width: 300px;
}

.curso {
    display: flex;
    justify-content: center;
    width: 200px;
    border: 4px solid #888;
    border-radius: 10px;
    padding: 10px;
    margin: 5px 0px;
    cursor: pointer;
}

.curso:hover {
    border-color: #f00;
}

.selecionado {
    background-color: #444 !important;
    color: #ccc !important;
    border-color: #f00 !important;
}